body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  font-family: roboto;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.content {
  background-color: #f9fafb;
}

/*SIDEBAR*/
.sidebar {
  background-color: #d1d5db;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top-item,
.sidebar-project-title,
.sidebar-project-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
}

.sidebar div div button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.sidebar div div button span {
  display: flex;
  align-items: center;
}

.sidebar-top-item img,
.sidebar-project-title img {
  height: 25px;
}

.sidebar-top-item p,
.sidebar-project-title p {
  margin-left: 10px;
}

.sidebar-project {
  margin-top: 50px;
}

.sidebar-project-task img {
  height: 15px;
}

.sidebar-project-task p {
  margin-left: 10px;
}

.sidebar-project-task {
  margin-left: 40px;
}

.sidebar-bottom {
  padding: 10px 25px;
  border-top: 1px solid #9ca3af;
}

.sidebar-bottom button {
  background: none;
  cursor: pointer;
  border: none;
  color: #4b5563;
  font-size: 1.1rem;
}

/*CONTENT*/
.content {
  padding: 50px;
}

.content-title {
  display: flex;
  align-items: center;
}

.content-title button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.content-title img {
  height: 15px;
}

.list-container {
  padding-top: 30px;
}

.list-item {
  border: 1px solid black;
  border-top: none;
  padding: 15px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
}

.list-item:first-child {
  border-top: 1px solid black;
}

.list-item-button img {
  height: 25px;
}

.list-item-button {
  background: none;
  border: none;
}

.list-item-button:hover {
  cursor: pointer;
}

.list-item-top-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  grid-row: 1/4;
  grid-column: 2/3;
}

.list-item-top-left {
  font-size: 1.2em;
}

.list-item-bottom-left {
  color: #374151;
  font-style: italic;
}

.deadline img {
  height: 15px;
}

.deadline {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: max-content;
  padding: 5px;
  font-size: 0.8em;
  background-color: #e0f2fe;
}

.urgency {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.8em;
}

.urgency.high {
  background-color: #fecaca;
}

.urgency.medium {
  background-color: #fef9c3;
}

.urgency.low {
  background-color: #dcfce7;
}

.list-item-bottom-bottom-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
